 body, html {
        height: 100%;
        margin: 0;
    }

.parallax-window {
    height: 100vh;
    background: transparent;;
}
.footer-title{
	 color: white;
	 font-weight: bold;
	 font-size: 130%;
}
a {
    color: grey;
}
